<div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li *ngFor="let route of users" class="list-group-item list-group-item-action" aria-current="true"
          (click)="getShowPopup(route)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ route.name }}{{ route.surname }}</h5>
          </div>
                <small>
            <b>Date :</b> {{ route.routeStartDate | date: "shortDate" }}
            {{ route.routeStartDate | date: "short" }}</small>
          <br/>
          <small class="mb-12"> <b>Email :</b>{{ route.email }} </small>
        </li>
      </ul>
    </div>
    <div class="col-md-9 position-relative" id="mapa-mapbox" style="height: 100vh">
    
    </div>
  </div>